@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 245 233;
    --foreground: 40 37 33;
    --border: 230 225 214;
    --card: 40 37 33;
    --card-foreground: 250 238 226;
    --primary: 78 205 196;
    --secondary: 255 107 107;
    --success: 29 209 161;
    --accent: 255 217 61;
  }

  *,
  *::before,
  *::after {
    @apply border-border p-0 m-0 outline-none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply w-screen bg-background text-foreground font-fredoka text-[0.9rem];
  }

  h1,
  h2,
  h3 {
    @apply font-luckiest;
  }
}
